@charset "UTF-8";

/* ================================= common ================================= */
.red {
	color: red;
}

textarea {
	resize: none;
}

form {
	display: inline;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table tr {
	height: 44px;
}



/* ================================= common ================================= */



/* ================================= boardWrite, boardDetail ================================= */

table.type02 {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
table.type02 th {
  font-weight: bold;
  color: #fff;
  background: #73685d;
  border-bottom: 1px solid white;
}
table.type02 td {
  width: 350px;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-right: 1px solid rgba(0,0,0,.1);
  background: #fff;
}
table.type02 .middle {
	text-align: center;
	vertical-align: middle;
}
table.type02 .right {
	text-align: right;
	vertical-align: middle;
}
table.type02 tr {
  font-size: 10pt;
  font-family: sans-serif;
}
table.type02 button.noborder {
  border: none;
  background-color: white;
}
table.type02 button.noborder:hover {
  border: none;
  background-color: white;
  color: #228B22;
  font-size: 10pt;
}
table.type02 .note, table.type02 .code, table.type02 .ratio {
  width: 4%;
}
table.type02 .amount {
  width: 8%;
  font-weight: 600;
}
table.type02 .allAmount {
  width: 10%;
}
table.type02 .date {
  width: 8%;
}
table.type02 .name {
  width: 22%;
}
table.type02 .client {
  width: 14%;
}
/* ================================= boardWrite, boardDetail ================================= */

/* ================================= boardWrite, boardDetail ================================= */

table.type03 {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
table.type03 th {
  font-weight: bold;
  color: #fff;
  background: #73685d;
  border-right: 1px solid white;
}
table.type03 td {
  width: 350px;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-right: 1px solid rgba(0,0,0,.1);
  background: #fff;
}
table.type03 .middle {
	text-align: center;
	vertical-align: middle;
}
table.type03 .right {
	text-align: right;
	vertical-align: middle;
}
table.type03 tr {
  font-size: 10pt;
  font-family: sans-serif;
}

table.type03 button.noborder {
  border: none;
  background-color: white;
}
table.type03 button.noborder:hover {
  border: none;
  background-color: white;
  color: #228B22;
  font-size: 10pt;
}
table.type03 button.noteblue {
  border: 1px solid #1E96FF;
  background-color: white;
  color: #1E96FF;
  border-radius: 5px;
}
table.type03 button.noteblue:hover {
  background-color: #1E96FF;
  color: white;
  font-size: 10pt;
}
table.type03 button.notered {
  border: 1px solid #FF5675;
  background-color: white;
  color: #FF5675;
  border-radius: 5px;
}
table.type03 button.notered:hover {
  background-color: #FF5675;
  color: white;
  font-size: 10pt;
}

table.type03 .code {
  width: 3%;
}
table.type03 .note {
  width: 6%;
}
table.type03 .amount {
  width: 7%;
  font-weight: 600;
}
table.type03 .name {
  width: 58%;
}
table.type03 .client {
  width: 12%;
}
/* ================================= boardWrite, boardDetail ================================= */


/* ================================= boardList ================================= */

table.type01 {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

table.type01 td.middle, table.type01 th.middle {
	text-align: center;
}
table.type01 td.right, table.type01 th.right {
	text-align: right;
}

table.type01 th {
  text-align: left;
  border-right: 1px solid white;
  font-size: 9pt;
}
  
table.type01 thead {
  font-weight: bold;
  color: #fff;
  background: #73685d;
  border-bottom: 1px solid white;
}
  
table.type01 td, th {
  padding: 1em .5em;
  vertical-align: middle;
}
  
table.type01 td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-right: 1px solid rgba(0,0,0,.1);
  background: #fff;
}

table.type01 button {
  color: #73685d;
  border: none;
  background-color: white;
}
table.type01 button:hover {
  border: none;
  background-color: white;
  color: #228B22;
  font-size: 10pt;
}
table.type01 button.underline {
  text-decoration: underline;
}

table.type01 .code, table.type01 .ratio {
  width: 4%;
}
table.type01 .note {
  width: 3%;
}
table.type01 .amount {
  width: 7%;
  font-weight: 600;
}
table.type01 .allAmount {
  width: 7%;
}
table.type01 .date {
  width: 8%;
}
table.type01 .name {
  width: 31%;
}
table.type01 .client {
  width: 14%;
}

table.type01 .sum{
  font-size: 12pt;
  color: red;
  background-color: #FFDC37;
}
  
 @media all and (max-width: 768px) {
    
  table.type01, table.type01 thead, table.type01 tbody, table.type01 th, table.type01 td, table.type01 tr {
    display: block;
  }
  
  table.type01 th {
    text-align: right;
  }
  
  table.type01 {
    position: relative; 
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  
  table.type01 thead {
    float: left;
    white-space: nowrap;
  }
  
  table.type01 tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  table.type01 tr {
    display: inline-block;
    vertical-align: top;
  }
  
  table.type01 th {
    border-bottom: 1px solid #a39485;
  }
  
  table.type01 td {
    border-bottom: 1px solid #e5e5e5;
  }
  
  
  }


table.type01 .notered {
	color: red;
	font-weight: 700;
}
table.type01 .blue {
	color: blue;
	font-weight: 900;
}
  
/* ================================= boardList ================================= */




/* ================================= include-header ================================= */
  
.wapper {
  width: 90%;
  margin: 10px auto;
}

.contents1 {
  float: left;
  width: 5.1%;
  box-sizing: border-box;
}

.contents2 {
  float: left;
  width: 3%;
  box-sizing: border-box;
}

.contents3 {
  float: left;
  width: 9.6%;
  box-sizing: border-box;
}
.contents3 select {
  width: 68px;
}
.contents3 button.noborder {
  border: none;
  background-color: white;
}
.contents3 button.noborder:hover {
  border: none;
  background-color: white;
  color: #C12DFF;
  font-size: 10pt;
}

.contents4 {
  float: left;
  width: 82%;
  box-sizing: border-box;
}

/* ================================= include-header ================================= */